body {
    background-color: aliceblue;
}

.enter_info {
    text-align: center;
    padding: 40px;
    border: 15px solid rgb(0, 138, 13);
    margin: 3% 15%;
    border-radius: 4px;
}

.submit_button {
    text-decoration: none;
    border: none;
    background-color: tomato;
    display: inline-block;
    width: 80px;
    height: 40px;
    border-radius: 6px
}

input[type=text][input=passwoord] {
    width: 30%;
    height: 25px;
}

.feed_icon {
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding: 15px 34%;
    margin: 5% 15%;
    background-color: rgb(0, 138, 13);
}

.all {
    padding-top: 30px;
}